@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
}

:root {
    --mainColor: #f6f8fa;
    --darkBlack: #001C3F;
    --black:#000;
    --white: #fff;
    --darkGrey:#61666b;
    --blue: rgb(60, 51, 177);
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
  
}


.navbar{  
    /* navbar (top) css */  
    box-shadow: 0px 11px 5px 0px rgba(0,0,0,0.39);
}

.navbar-container{
    background-color: var(--blue);
    color: #fff;
    height: 5rem !important;
    display: flex;
    align-items: flex-start;
}


.company-brand img{
    max-width: 25%;
    padding-top: 2px;
    padding-left: 25px;
}

.sidebar-column{
    background-color: var(--black);
}


/* Layout skeleton */

.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
}

#sidebar {
    max-width: 264px;
    min-width: 264px;
    transition: all 0.35s ease-in-out;
    box-shadow: 0 0 35px 0 rgba(49, 57, 66, 0.5);
    z-index: 2222;
    background-color: var(--blue);
}

/* Sidebar collapse */

#sidebar.collapsed {
    margin-left: -264px;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
}

.sidebar-logo {
    padding: 1.15rem 1.5rem;
}

.sidebar-logo a {
    color: #e9ecef;
    font-size: 1.25rem;
    font-weight: 600;
}

.sidebar-nav {
    padding: 0;
}

.sidebar-header {
    color: #e9ecef;
    font-size: .75rem;
    padding: 1.5rem 1.5rem .375rem;
}

.nav-link {
    padding: 2rem;
    color: #e9ecef !important;
    position: relative;
    display: block;
    font-size: 1rem;
}

.active{
    color: #000 !important;
    background-color: white;
}

.nav-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

.nav-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.content {
    flex: 1;
    max-width: 100vw;
    width: 100vw;
}

.active{
    color: #000 !important;
    background-color: white;
}

/* Responsive */

@media (min-width:768px) {
    .content {
        width: auto;
    }
}


.search-bar{
    padding-top: 2rem;
}

.nav-item{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.form-control {
    border: 2px solid var(--black);
}

.card-body .btn{
    float: right;
}

.card{
    
    box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.17);
    border: 1.5px solid #b0b0b0;
    padding: 1rem;
    cursor: pointer;
    padding-bottom: 2rem;
    height: 100%; 
    
}

.bd-highlight button{
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Uploading Files */
.wrapper-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 100%;
    min-height: 80vh;
}

.box{
    max-width: 500px;
    background: rgba(21, 160, 202, 0.842);
    padding: 30px;
    width: 100%;
    border-radius: 10px;
}

.upload-area-title{
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px; 
}

.uploadlabel{
    width: 100%;
    min-height: 100px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px dashed #18a7ff82;
    cursor: pointer;
}

.uploadlabel span{
    font-size: 30px;
    font-weight: 800;
}

.uploaded{
    margin: 10px 0;
    font-size: 20px;
    font-weight: 500;
}

.showfilebox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px 15px;
}

.showfilebox .left{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.filetype{
    background: #fff;
    padding: 5px 15px;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 300;
    border-radius: 3px;
}

.left h3{
    font-size: 15px;
    margin: 0;
}

.right span{
    background: #ffffff;
    width: 25px;
    height: 25px;
    font-size: 25px;
    line-height: 25px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}